@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:ital@1&family=Playpen+Sans&family=Poppins:wght@200&family=Roboto+Mono:ital,wght@1,500&family=Roboto+Slab&family=Square+Peg&display=swap');

:root{
    --heading-color:#1a1e24;
}
* {
    padding: 0;
    margin: 0;
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
}

body {
    margin: 0;
    padding: 0;

}

.navigation {
    /* width: 100vw; */
    height: 100px;
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;

}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;

}

.right {
    display: flex;
    margin-right: 10px;
    align-items: center;
    justify-content: space-between;
}

.born-icon {
    width: 100px;
    max-height: 50px;
}

.nav-point {
    display: flex;
    list-style: none;
    gap: 10px;


}

.nav-point li {
    margin-left: 20px;
    white-space: nowrap;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    /* margin-bottom: 20px; */
    line-height: 1.5;
    cursor: pointer;
    border-bottom: 3px solid transparent;
}

.nav-point li:hover {

    border-bottom: 3px solid yellow;
}


.search-icon {
    display: flex;
    align-items: center;
    margin-left: auto;

}

.search-container {
    display: flex;
    align-items: center;
    margin-left: 10px;

}

.search-container input {
    padding: 5px;
    border: none;
    border-bottom: 1px solid #ccc;
    display: none;
    width: 200px;
    
}
#search-input:focus {
    outline: none;
    
}
.search-container button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 20px;
}

.search-container .btn {
    color: #000000bf;

}

.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
}

.line {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 3px 0;
    transition: 0.4s;
}

.offcanvas-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #968787;
    box-shadow: 0 0 10px rgba(198, 175, 175, 0.1);
    transition: 0.3s;
}

.offcanvas-menu ul {
    list-style: none;
    padding: 20px;
}

.offcanvas-menu li {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.offcanvas-menu.show {
    left: 0;
}


/* changes */
