:root {
    --box-color: linear-gradient(to bottom, #e6f7ff, #005580);
}





.sub-container {
    width: 80%;

    margin: auto;
}

.sub-search {
    width: 100%;
}

.sub-search #email {
    width: 90%;
    padding: 0;
    outline: none;
}

.sub-search-heading {
    font-size: 36px;
    font-weight: 720;
    font-size: 41px;
    font-weight: 701;
    letter-spacing: 0.2rem;
    margin: 45px auto;
    color: #1a1e24;
}

.sub-search span {
    width: 100%;
    outline: 1px solid black;
    padding: 18px;

}
.fa-sharp{
    cursor: pointer;
}

.sub-content-left-img img {
    width: 100%;
    height: 90vh;
}

.sub-content-item {
    margin-top: 66px;
}

.sub-content-tags {
    display: flex;
    margin: 23px 34px;
}

.sub-content-tag {
    background-color: #02ffd2;
    padding: 3px 8px;
    font-size: 11px;
    font-weight: 600;
    margin-right: 15px;
    border-radius: 3px;
}

.sub-content-tag:hover {
    background-color: yellow;
    cursor: pointer;
}

.sub-content-text h1 {
    font-size: 25px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    color: #1a1e24;
}


.sub-content-text p {
    color: #1a1e24;
    font-size: 18px;
    margin-top: 11px;
    line-height: 2rem;
}

.sub-content-button {
    margin-left: 23px;
    margin-top: 30px;
}

.sub-content-button span {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px;
    font-style: italic;
    color: #1a1e24;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    text-decoration: none;
    box-shadow: inset 0 -0.35em 0 #f8ff31;
    font-weight: 600;
    cursor: pointer;
}

.sub-content-text {
    margin-left: 23px;
}

.sub-content-left {
    margin-bottom: 142px;
    border: 3px solid #f4f7f9;
}

.sub-content-right {
    border: 3px solid #f4f7f9;
}

.sub-signUp {
    background: linear-gradient(to bottom, #e6f7ff, #91cdec);
    margin: 106px auto;
}

.sub-signUp-text h1 {
    font-size: 51px;
    font-weight: 600;
    margin: 10px auto 20px auto;
    color: #1a1e24;
}

.sub-signUp-text {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 71px;
    padding-bottom: 40px;
    padding-left: 107px;
    padding-right: 107px;
}

.sub-signUp-input {
    padding-left: 107px;
    padding-right: 107px;
    padding-top: 18px;
    padding-bottom: 112px;
    display: flex;
    justify-content: center;
}

.sub-signUp-text p {
    font-size: 21px;
    color: #1a1e24;
}

.sub-signUp-input-left {
    width: 51%;
}

.sub-signUp-input-left input {
    width: 100%;
    padding: 14px;
}

.sub-signUp-input-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 76px;
    background-color: #1a1e24;
    padding: 14px;
    cursor: pointer;
}

.sub-signUp-input-right p {
    color: white;
    font-style: italic;
    font-weight: 600;

}



/* resposive */
@media screen and (max-width:1200px) {
    .sub-container {
        width: 95%;
    }

    .sub-content-item {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .sub-content-right {
        width: 40%;
    }

    .sub-content-left {
        width: 45%;
        margin-bottom: 0;
    }

    .sub-content-left-img img {
        height: 100%;
    }

    .sub-content-text h1 {
        font-size: 23px;
    }

    .sub-content-right {
        width: 45%;
        margin-bottom: 0;
    }

    .sub-content-tags {

        margin: 23px 9px;
    }

}

@media screen and (max-width:768px) {

    .sub-search span {
        padding: 15px 9px;
    }

    .sub-search-heading {
        font-size: 28px;
    }

    .navigation2 {
        margin-top: -100px;
    }

    .sub-content2 {
        margin-top: 100px;
    }


}

@media screen and (max-width:1200px) {
    .sub-signUp-text h1 {
        font-size: 38px;
    }
}

@media screen and (max-width:600px) {


    .sub-search-heading {
        font-size: 23px;
    }




    .sub-search-heading {
        font-weight: 600;
    }

    .sub-search #email {
        padding: 0;
        width: 80%;
        outline: none;
    }

    .sub-search-heading {
        margin-left: 35px;
    }


    .sub-search #email {

        padding-top: 10px;
        padding-bottom: 10px;
    }

    .sub-content-item {
        display: grid;
    }

    .sub-content-left {

        margin-bottom: 53px;
        width: 100%;
    }

    .sub-content-right {

        margin-bottom: 53px;
        width: 100%;
    }


    .sub-content-text h1 {

        font-size: 21px;
        font-weight: 600;
    }

    .sub-content-text p {

        font-size: 17px;
    }

    .sub-signUp {
        width: 100%;
    }

    .sub-signUp-text {
        padding: 51px;
    }

    .sub-signUp-text h1 {

        font-size: 24px;
    }

    .sub-signUp {

        margin: 11px auto;
    }

    .sub-signUp-text p {

        font-size: 16px;
    }

    .sub-signUp-input {
        width: 80%;
        padding: 18px 0 118px 35px;
    }


    .sub-signUp-input-right p {
        font-size: 12px;
    }
}

@media screen and (max-width:300px) {
    .sub-search span {
        padding: 15px 0px;
    }
}