:root {
    --box-color: linear-gradient(to bottom, #e6f7ff, #005580);
}

body {}



.sub-container {
    width: 80%;

    margin: auto;
}

.sub-search {
    width: 100%;
}

.sub-search #email {
    width: 90%;
    padding: 0;
    outline: none;
}

.sub-search-heading {
    font-size: 36px;
    font-weight: 720;
    font-size: 41px;
    font-weight: 701;
    letter-spacing: 0.2rem;
    margin: 45px auto;
    color: #1a1e24;
}

.sub-search span {
    width: 100%;
    outline: 1px solid black;
    padding: 18px;

}

.sub-content-left-img img {
    width: 100%;
    height: 90vh;
}

.sub-content-item {
    margin-top: 66px;
}

.sub-content-tags {
    display: flex;
    margin: 23px 34px;
}

.sub-content-tag {
    background-color: #02ffd2;
    padding: 3px 8px;
    font-size: 11px;
    font-weight: 600;
    margin-right: 15px;
    border-radius: 3px;
}

.sub-content-tag:hover {
    background-color: yellow;
    cursor: pointer;
}

.sub-content-text h1 {
    font-size: 25px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    color: #1a1e24;
}


.sub-content-text p {
    color: #1a1e24;
    font-size: 18px;
    margin-top: 11px;
}

.sub-content-button {
    margin-left: 23px;
    margin-top: 30px;
}

.sub-content-button span {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px;
    font-style: italic;
    color: #1a1e24;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    text-decoration: none;
    box-shadow: inset 0 -0.35em 0 #f8ff31;
    font-weight: 600;
    cursor: pointer;
}

.sub-content-text {
    margin-left: 23px;
}

.sub-content-left {
    margin-bottom: 142px;
    border: 3px solid #f4f7f9;
}

.sub-content-right {
    border: 3px solid #f4f7f9;
}



/* resposive */
@media screen and (max-width:1200px) {
    .sub-container {
        width: 95%;
    }

    .sub-content-item {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .sub-content-right {
        width: 40%;
    }

    .sub-content-left {
        width: 45%;
        margin-bottom: 0;
    }

    .sub-content-left-img img {
        height: 100%;
    }

    .sub-content-text h1 {
        font-size: 23px;
    }

    .sub-content-right {
        width: 45%;
        margin-bottom: 0;
    }

    .sub-content-tags {

        margin: 23px 9px;
    }

}

@media screen and (max-width:768px) {

    .sub-search span {
        padding: 15px 9px;
    }

    .sub-search-heading {
        font-size: 28px;
    }

    .navigation2 {
        margin-top: -100px;
    }

    .sub-content2 {
        margin-top: 100px;
    }


}


@media screen and (max-width:600px) {


    .sub-search-heading {
        font-size: 23px;
    }




    .sub-search-heading {
        font-weight: 600;
    }

    .sub-search #email {
        padding: 0;
        width: 80%;
        outline: none;
    }

    .sub-search-heading {
        margin-left: 35px;
    }


    .sub-search #email {

        padding-top: 10px;
        padding-bottom: 10px;
    }

.sub-content-item{
    display: grid;
}

    .sub-content-left {

        margin-bottom: 53px;
        width: 100%;
    }

    .sub-content-right {

        margin-bottom: 53px;
        width: 100%;
    }


    .sub-content-text h1 {

        font-size: 21px;
        font-weight: 600;
    }

    .sub-content-text p {

        font-size: 17px;
    }
}

@media screen and (max-width:300px) {
    .sub-search span {
        padding: 15px 0px;
    }
}